:root {
    /* Width */
    --mobile-width: 375px;
    --desktop-width: 1440px;
    /* Primary */
    --very-dark-blue: hsl(243, 87%, 12%);
    --desaturated-blue: hsl(238, 22%, 44%);
    /* Accent */
    --bright-blue: hsl(224, 93%, 58%);
    --moderate-cyan: hsl(170, 45%, 43%);
    /* Neutral */
    --light-grayish-blue: hsl(240, 75%, 98%);
    --light-gray: hsl(0, 0%, 75%);
    --heading-font: Raleway, Open Sans, Arial;
    --heading-font-weight-1: 400;
    --heading-font-weight-2: 700;
    --body-font: Open Sans, Arial;
    --body-font-weight: 400;
    /* Colors */
    --white: white;
}


/* Reset */

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
}

img {
    max-width: 100%;
}


/* Global */

body {
    font-family: var(--body-font);
}

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--heading-font);
    font-weight: var(--heading-font-weight-2);
}

header {
    padding: 30px;
}

section {
    padding: 85px 30px;
    text-align: center;
}

input {
    display: block;
    width: 100%;
    height: 50px;
    margin: 0 auto;
    border-radius: .4em;
    padding: 5px;
    font-size: large;
}

input[type=text] {
    border: 1px solid var(--very-dark-blue);
    background-color: var(--white);
}

input[type=submit] {
    border: none;
    background-color: var(--bright-blue);
    margin-top: 20px;
    color: var(--white);
    font-weight: bold;
}


/* nav */

nav {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

nav .logo {
    width: 85px;
    flex-shrink: 0;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}

nav ul a {
    padding: 15px;
    text-decoration: none;
    white-space: nowrap;
}


/* section get-started */


/* stay-productive section */

.curve {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 53px;
    background-image: url("../images/bg-curve-mobile.svg");
    background-repeat: no-repeat;
    background-position: top;
    /*background-image: url(../images/bg-curve-mobile.svg), linear-gradient(var(--lightgrayishblue), var(--lightgrayishblue));
    background-repeat: no-repeat;
    background-position: top 0 right 0, bottom -53px left 0;*/
}

.stay-productive {
    background-color: var(--light-grayish-blue);
}

.stay-productive p {
    text-align: left;
}

.how-filo-works {
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px 10px 0;
    margin: 20px;
    color: var(--moderate-cyan);
    border-bottom: 2px solid var(--moderate-cyan);
    font-weight: bold;
    background-image: url("../images/icon-arrow.svg");
    background-repeat: no-repeat;
    background-position: right center;
}

.quotation {
    background-color: var(--white);
    border-radius: 5px;
    box-shadow: 5px 10px 18px #888888;
    padding: 40px 20px;
    text-align: left;
    background-image: url("../images/icon-quotes.svg");
    background-repeat: no-repeat;
    background-position: 20px 20px;
    font-size: small;
    color: var(--very-dark-blue);
}

.quotation blockquote,
h3,
h4 {
    margin: 0;
    padding: 0;
}

.quotation blockquote {
    line-height: 25px;
    font-weight: 600;
    margin-bottom: 20px;
}

.quotation h3 {
    padding-top: 5px;
}

.quotation h4 {
    padding-top: 5px;
    font-weight: 200;
}

.quotation img {
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-right: 10px;
}


/* get-early-access section */

.get-early-access {
    background-color: var(--desaturated-blue);
}

.get-early-access h2,
.get-early-access p {
    color: var(--white);
}


/* Footer Styles */

footer {
    padding: 20px;
    background-color: var(--very-dark-blue);
}

footer * {
    color: var(--light-grayish-blue);
}

footer img {
    filter: brightness(0) invert(1);
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

footer ul li a {
    display: inline-block;
    padding: 5px 0;
    text-decoration: none;
}

footer ul li i {
    display: block;
    width: 30px;
    font-size: var(--body-font-weight);
    color: var(--light-grayish-blue);
}

footer ul li a:hover {
    text-decoration: underline;
}

ul.social {
    display: flex;
    justify-content: center;
}

ul.social li a>i {
    margin: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    padding: 0;
    border-radius: 20px;
    border: 1px solid var(--white);
}

ul.social li a:hover>i {
    text-decoration: none;
    background-color: var(--white);
    color: var(--very-dark-blue);
}

@media screen and (min-width: 376px) {
    footer {
        display: flex;
        justify-content: space-around;
    }
}