/* Reset */

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
}


/* Global */

html,
body {
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

header {
    display: flex;
    font-family: 'Open Sans', sans-serif;
}

.logo {
    min-width: 20%;
    max-width: 20%;
}

.nav {
    min-width: 80%;
    max-width: 80%;
}

@media screen and (max-width: 480px) {}

@media screen and (max-width: 600px) {}

@media screen and (min-width: 600px) and (max-width: 936px) {}

@media screen and (min-width: 936px) {}

@media screen and (min-width: 1366px) {}